apiVersion: v1
kind: Service
metadata:
  name: phpmyadmin
  namespace: mysql-k8s-demo
spec:
  type: NodePort
  ports:
    - port: 80
      targetPort: 80
      nodePort: 30001
      protocol: TCP
  selector:
    app: phpmyadmin
